<html lang="en">

<head>
  <title>SITE NAME</title> <!---Site Name--->
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}


<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
</head>

<body style="background-color: grey; height:100%; position: relative;">
<div class="big_container">
  <!--- JS --->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!---<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!--- Nav --->
  <nav class="navbar navbar-dark static-top" style="background-color: rgb(33,32,33)">
  <div class="container">
    <a class="navbar-brand" href="/">
      {% load static %}
      <img src="{% static 'img/logo.png' %}" class="img-fluid" style="max-width: 25%; min-width: 25%; margin-left: 2vw;">
    </a>
    <!--- <img src="{% static 'assets/images/b.jpg' %}" class="img-fluid" style="max-width: 25%; min-width: 25%;"> -->
    </a>
    <ul class="navbar-nav ml-auto">
      <div class="float-top">
        <a class="nav-link" href="/cart"><i class="fa fa-shopping-cart" style="font-size:24px; color: white"></i></a>
      </div>
    </ul>
    </div>
  </nav>

  <!--- Site Content --->
  <div style="height:5%;"></div>

  <div class="container">
    {% block content %}{% endblock %}

  </div>



<!-- Footer -->
<footer class="page-footer font-small mt-2 pt-4 static-bottom"
  style="background-color: rgb(33,32,33); position: absolute;
  bottom: 0;
  width: 100%;">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fa fa-facebook" style="font-size:24px; color: white" href=""> </i>
        </a>
        <a class="btn-floating btn-fb mx-1" href="https://www.instagram.com">
          <i class="fa  fa-instagram" style="font-size:24px; color: white"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="container" style="height: 2%;"></div>
  <!-- Copyright -->

</footer>

</div>

</body>
</div>
</html>